//========================================
// Sales Detail Customize View Dropdown
//========================================

.ml-customize-view-dynamic {
	/* Forms*/
	.ml-form {
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
		&.right-position {
			display: flex;
			justify-content: flex-end;
		}
	}
	.ml-form-field {
		// margin-bottom: 20px;
		margin-bottom: 0;
		display: block;
		width: 100%;
		max-width: 250px;
		position: relative;
		border: 0px;
		padding: 0;
	}
	.ml-form-field legend,
	.ml-form legend {
		font-weight: bold;
		margin-bottom: 5px;
	}
	.ml-form-field legend,
	.ml-form-field label {
		font-size: 13px;
		color: #333333;
	}
	.ml-form-field label {
		position: relative;
		display: block;
		text-align: left;
	}
	.ml-form-field label span {
		display: inline;
		padding: 5px 2px 2px 2px;
	}
	.ml-form-field input {
		padding: 10px;
		font: inherit;
		outline: none;
		border: 1px solid #BBBBBB;
		font-size: 13px;
		color: #333333;
		width: 100%;
		border-radius: 2px;
	}
	.ml-form-field input:focus {
		border: solid 1px #007abc;
	}
	.ml-form-field input:focus+span {
		color: #333333;
	}
	/* ---- DD update ---- */
	.ml-form-field .ml-form-field-select+span {
		color: #333;
	}
	.ml-form-field span {
		display: block;
		margin-bottom: 5px;
		background: #fff;
		color: #333;
	}
	.ml-form-field-togglevisible {
		width: 18px;
		height: 13px;
		background: url(/assets/patterns/img/tables/ml-toggle-visibility-show.png) no-repeat;
		background-size: 100%;
		display: block;
		position: absolute;
		right: 15px;
		top: 12px;
	}
	.ml-form-field-togglevisible.hidden {
		background: url(/assets/patterns/img/tables/ml-toggle-visibility-hide.png) no-repeat;
		background-size: 100%;
	}
	.ml-form-field-errortext {
		display: none;
		font-size: 12px;
		color: #DB1818;
		margin-top: 5px;
	}
	.ml-form-field-helptext {
		position: absolute;
		font-size: 13px;
		color: #333333;
		margin-top: 5px;
	}
	.ml-form-field-helptext a {
		color: #007abc;
		font-size: 13px;
		text-decoration: underline;
	}
	.ml-form-field-helptext a:hover {
		text-decoration: none;
	}
	.ml-form-field-helptext .tooltip {
		background-color: #F2F2F2;
		font-size: 12px;
		line-height: 16px;
		color: #333333;
		padding: 10px;
		text-decoration: none;
		display: none;
		margin-top: 10px;
	}
	.ml-form-field-helptext.open .tooltip {
		display: block;
	}
	.ml-form-field.error input,
	.ml-form-field.error select,
	.ml-form-field.error .ml-form-field-radio,
	.ml-form-field.error .ml-form-field-checkboxes {
		border: solid 1px #DB1818;
		background-color: #FDE8E8;
	}
	.ml-form-field.error input:focus, // .ml-form-field.error select:focus,
	.ml-form-field.error select.open {
		background-color: #fff;
	}
	/* Added by : sdave1 (Dec '17) */
	.ml-form-field.error input:focus+span, // .ml-form-field.error select:focus+span,
	.ml-form-field.error select.open+span,
	.ml-form-field.error input:not([value=""])+span {
		background-color: #fff;
		/*color: #DB1818;*/
	}
	.ml-form-field.error input[value=""]+span {
		background-color: #FDE8E8;
		color: #333333/*#DB1818*/
		;
	}
	.ml-form-field.error .ml-form-field-errortext {
		display: block;
	}
	.ml-form-field-checkboxes-group {
		width: auto;
		height: 18px;
		position: relative;
		margin: 15px;
		border-radius: 2px;
	}
	.ml-form-field-checkboxes-group input {
		position: absolute;
	}
	.ml-form-field-checkboxes-group label {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 90%;
		height: 16px;
		cursor: pointer;
		position: absolute;
		padding: 0px 0 0 25px;
	}
	.ml-form-field-checkboxes-group label:before {
		content: '';
		width: 16px;
		height: 16px;
		position: absolute;
		top: -3px;
		left: 2px;
		border: solid 1px #BBBBBB;
	}
	.ml-form-field-checkboxes-group label:after {
		content: '';
		width: 9px;
		height: 4px;
		position: absolute;
		top: 2px;
		left: 6px;
		border-left: 2px solid #007abc;
		border-bottom: 2px solid #007abc;
		opacity: 0;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.ml-form-field-checkboxes-group input[type=checkbox] {
		opacity: 0;
	}
	.ml-form-field-checkboxes-group input[type=checkbox]:checked+label:after {
		opacity: 1;
	}
	.ml-form-field-checkboxes-group input[type=checkbox]:focus+label:before,
	.ml-form-field-checkboxes-group input[type=checkbox]:checked+label:before {
		border-color: #007abc;
	}
	.ml-form-field-radio {
		border-radius: 2px;
	}
	.ml-form-field-radio-group {
		height: 18px;
		width: auto;
		/*margin: 20px auto;*/
		margin: 15px;
		position: relative;
		transition: all 250ms;
	}
	.ml-form-field-radio-group input {
		position: absolute;
		z-index: 5;
	}
	.ml-form-field-radio-group label {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 90%;
		height: 16px;
		cursor: pointer;
		position: absolute;
		padding: 0px 0 0 25px;
	}
	.ml-form-field-radio-group label:before {
		content: '';
		width: 19px;
		height: 19px;
		position: absolute;
		top: -3px;
		left: 2px;
		border: solid 1px #BBBBBB;
		border-radius: 50%;
	}
	.ml-form-field-radio-group label:after {
		content: '';
		width: 7px;
		height: 7px;
		position: absolute;
		top: 3px;
		left: 8px;
		background-color: #007abc;
		border: solid 1px #007abc;
		border-radius: 50%;
		opacity: 0;
	}
	.ml-form-field-radio-group input[type=radio] {
		opacity: 0;
	}
	.ml-form-field-radio-group input[type=radio]:checked+label:after {
		opacity: 1;
	}
	.ml-form-field-radio-group input[type=radio]:focus+label:before,
	.ml-form-field-radio-group input[type=radio]:checked+label:before {
		border: solid 1px #007abc;
	}
	/*--- Dropdown/Select ---*/
	.ml-form-field-droplist-trigger {
		border-radius: 2px;
		position: relative;
		border: solid 1px #BBBBBB;
		width: 100%;
		color: #333333;
		text-align: left;
		font-size: 13px;
		background-color: #fff;
		padding: 10px;
	}
	.ml-form-field-droplist-trigger:after {
		content: "";
		width: 0;
		height: 0;
		border: 7px solid transparent;
		border-color: #AAA9AA transparent transparent transparent;
		position: absolute;
		top: 16px;
		right: 10px;
	}
	.ml-form-field-droplist-trigger:focus {
		border: solid 1px #007abc;
		outline: 0;
	}
	.ml-form-field-droplist-trigger:focus:after {
		border-color: #007abc transparent transparent transparent;
	}
	.ml-form-field-droplist-trigger.active {
		border: solid 1px #007abc;
		border-bottom: 0;
	}
	.ml-form-field-droplist-trigger.active:after {
		border-color: #007abc transparent transparent transparent;
	}
	.ml-form-field-droplist-fields {
		display: none;
	}
	.ml-form-field-droplist-fields.active {
		display: block;
		border: solid 1px #007abc;
		border-radius: 2px;
		border-top: 0;
		padding: 10px;
		z-index: 999;
	}
	.ml-form-field-select .select-hidden {
		display: none;
		/*opacity: 0;
		padding-right: 10px;
		font-size: 13px;*/
	}
	.ml-form-field-select .select-hidden:focus {
		border: solid 1px red;
	}
	.ml-form-field-select .select .select-styled {
		border-radius: 2px;
		cursor: pointer;
		display: inline-block;
		position: relative;
		font-size: 13px;
		border: 1px solid #BBBBBB;
		color: #333333;
		width: 100%;
		height: 40px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		line-height: 17px;
		background-color: #fff;
		padding: 10px;
	}
	/* Dropdown box downwards arrow style */
	.ml-form-field-select .select-styled:after {
		content: "";
		width: 0;
		height: 0;
		border: 7px solid transparent;
		border-color: #AAA9AA transparent transparent transparent;
		position: absolute;
		top: 16px;
		right: 10px;
	}
	.ml-form-field-select .select-styled.open {
		font-weight: bold;
		border-color: #007abc;
		border-bottom: 0px;
		outline: 0;
	}
	.ml-form-field-select .select-styled.open:after {
		border-color: #007abc transparent transparent transparent;
	}
	/* dropdown options */
	.ml-form-field-select .select-options {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		font-size: 13px;
		left: 0;
		z-index: 999;
		margin: 0;
		padding: 0;
		border-radius: 2px;
		border: solid 1px #007abc;
		border-top: 0px;
		list-style: none;
		background-color: #ffffff;
		max-height: 200px;
		overflow-y: auto;
	}
	.ml-form-field-select .select-options li {
		margin: 0;
		padding: 12px 0;
		font-size: 13px;
		text-indent: 15px;
		border-top: 0px solid #e6e6e6;
	}
	/*  Edited by : sdave1 (Jan '18) */
	.ml-form-field-select .select-options li:hover,
	.ml-form-field-select .select-options li.selected {
		color: #ffffff;
		background: #007abc;
	}
	.ml-form-field-select .select-options li[rel="hide"] {
		display: block;
	}
	.ml-form-field-select .select-options li:first-child {
		border-top: 0;
	}
	/* Updated  : sdave1 (Jan'18) */
	.ml-form-field>span,
	.ml-form-field-select>span {
		font-weight: bold;
		line-height: 3em;
	}
	/* ----- Floating label style ----- */
	.ml-form[data-forms="floating-label"] input+span,
	.ml-form[data-forms="floating-label"] input[value=""]+span,
	.ml-form[data-forms="floating-label"] .select-label>span {
		transition: 0.3s ease;
		-webkit-transform: translateY(-0.5em);
		-ms-transform: translateY(-0.5em);
		transform: translateY(-0.5em);
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-top: 13px;
		font-size: 13px;
		width: 90%;
	}
	.ml-form[data-forms="floating-label"] input:focus+span {
		font-weight: bold;
	}
	.ml-form[data-forms="floating-label"] input:focus+span,
	.ml-form[data-forms="floating-label"] input:not([value=""])+span,
	.ml-form[data-forms="floating-label"] .select-label.selected>span {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
		font-size: 12px;
		visibility: visible;
		top: -5px;
		margin-top: 13px;
		width: auto;
		background-color: #fff;
		text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
		z-index: 100;
	} // .ml-customize-view {
	::-webkit-scrollbar {
		width: 10px;
		background-color: #EEEEEE;
		border-radius: 8px;
	}
	::-webkit-scrollbar-track {
		width: 9px;
		background-color: #EEEEEE;
		border-radius: 8px;
	}
	::-webkit-scrollbar-thumb {
		background: #979797;
		border-radius: 10px;
		border-radius: 8px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: grey;
	}
	.box-container {
		position: relative;
		display: flex; // width: 648px;
	}
	.main {
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1000;
		display: none;
		width: 646px; // height: 363px;
		padding: 20px;
		border: 1px solid $metlife_blue;
		border-radius: 2px;
		background: #fff;
	}
	img {
		width: 28px;
		height: auto;
	}
	.section1 {
		background: #FFF;
		flex-direction: column;
		flex: 2;
		height: 363px;
		overflow: hidden;
		overflow-y: scroll;
	}
	.section2 {
		display: flex;
		flex-direction: column;
		position: relative;
		background: #FFF;
		flex: 1;
		border-left: 1px solid #ccc;
		margin-left: 1rem;
		padding-left: 1.33rem;
	}
	.mobile-header {
		display: none;
		padding: 0 1rem;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		background: #f2f2f2;
		position: relative;
	}
	.grouping {
		margin-bottom: 20px;
		flex-direction: column;
	} // special case grouping that takes two columns (i.e. All Products)
	.two-col-grouping>div>.bob-ic-all-customers-checkbox {
		display: flex;
		flex-direction: column;
		align-self: flex-start;
	}
	.two-col-grouping>div>.bob-ic-all-customers-checkbox>.bob-ic-ml-form-field-checkboxes-group {
		width: 100%;
	}
	.two-col-grouping>div>.bob-ic-all-customers-checkbox>.inner-checkboxes {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}
	.two-col-grouping>div>.bob-ic-all-customers-checkbox>.inner-checkboxes>.bob-ic-all-customers-checkbox {
		width: 50%;
	}
	.button-container {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	@media (max-width: 768px) {
		.mobile-header {
			display: flex;
		}
		.main {
			width: 250px;
			right: 0;
			padding: 0;
			flex-direction: column;
			padding-top: 0;
		}
		.section1 {
			flex: 1;
			margin-top: 1rem;
			height: 500px;
			margin-left: 1rem;
			overflow: hidden;
			overflow-y: scroll;
		}
		.section2 {
			flex: 1;
			border: none;
			flex-direction: column;
			padding: 0;
			margin-left: 0;
		}
		.grouping {
			display: flex;
			flex-direction: column;
			margin-top: 1rem;
			margin-left: 1rem;
		}
		.two-col-grouping {
			display: block;
			justify-content: flex-start;
		}
		.two-col-grouping>div>.bob-ic-all-customers-checkbox {
			display: flex;
			flex-direction: column;
			align-self: flex-start;
		}
		.two-col-grouping>div>.bob-ic-all-customers-checkbox>.bob-ic-ml-form-field-checkboxes-group {
			width: 100%;
		}
		.two-col-grouping>div>.bob-ic-all-customers-checkbox>.inner-checkboxes {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
		}
		.two-col-grouping>div>.bob-ic-all-customers-checkbox>.inner-checkboxes>.bob-ic-all-customers-checkbox {
			width: 100%;
		}
		.button-container {
			position: relative;
			display: flex;
			justify-content: center;
			margin: 20px;
			button {
				width: 100%;
			}
		}
	}
	.ml-button-primary {
		box-sizing: content-box;
		font-family: 'Noto Sans', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		background-color: transparent;
		text-decoration: none;
		font-weight: bold;
		border-radius: 2px;
		padding: 12px 14px;
		border: 0;
		display: inline-block;
	}
	.ml-button-primary:hover,
	.ml-button-primary:focus,
	.hover.ml-button-primary {
		text-decoration: underline;
	}
	.ml-button-primary:focus,
	.focus.ml-button-primary {
		outline-color: #333;
		text-decoration: underline;
	}
	.focus.ml-button-primary {
		box-shadow: 0 0 3px #333, 0 0 7px #333;
	}
	.ml-button-primary {
		background-color: #007abc;
		color: #fff;
	}
	.ml-button-primary:hover,
	.ml-button-primary:focus,
	.ml-button-primary.hover,
	.ml-button-primary.focus {
		background-color: #0061a0;
	}
}