//========================================
// Breadcrumb Print
//========================================

.bob-bcprint-container {
  .bob-bcprint-breadcrumb {
    display: inline-block;
    margin-top: 8px;
    font-size: 13px;
    color: #333333;
  }
  .bob-bcprint-breadcrumb > a { 
    text-decoration: underline;
  }

  .bob-bcprint-breadcrumb > p {
    display: inline-block;
  }

  .bob-bcprint-breadcrumb-current {
    display: inline-block;
    margin-top: 8px;
    font-size: 13px;
    color: #333333;
  }

  .bob-bcprint-icon {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    float: right;
    margin-top: 4px;
    height: 24px;
    width: 24px;
  }
}