//========================================
// Select styles
//========================================
.ml-form {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	&.right-position {
	  display: flex;
	  justify-content: flex-end;
	}
  }
  
  .ml-form-field {
	// margin-bottom: 20px;
	margin-bottom: 0;
	display: block;
	width: 100%;
	max-width: 250px;
	position: relative;
	border: 0px;
	padding: 0;
	legend {
	  font-weight: bold;
	  margin-bottom: 5px;
	}
  }
  
  .ml-form legend {
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .ml-form-field {
	legend {
	  font-size: 13px;
	  color: #333333;
	}
	label {
	  font-size: 13px;
	  color: #333333;
	  position: relative;
	  display: block;
	  text-align: left;
	  span {
		display: inline;
		padding: 5px 2px 2px 2px;
	  }
	}
	input {
	  padding: 10px;
	  font: inherit;
	  outline: none;
	  border: 1px solid #BBBBBB;
	  font-size: 13px;
	  color: #333333;
	  width: 100%;
	  border-radius: 2px;
	  &:focus {
		border: solid 1px #007abc;
		+ span {
		  color: #333333;
		}
	  }
	}
	.ml-form-field-select + span {
	  color: #333;
	}
	span {
	  display: block;
	  margin-bottom: 5px;
	  background: #fff;
	  color: #333;
	}
  }
  
  /* ---- DD update ---- */
  
  .ml-form-field-togglevisible {
	width: 18px;
	height: 13px;
	background: url(/assets/patterns/img/tables/ml-toggle-visibility-show.png) no-repeat;
	background-size: 100%;
	display: block;
	position: absolute;
	right: 15px;
	top: 12px;
	&.hidden {
	  background: url(/assets/patterns/img/tables/ml-toggle-visibility-hide.png) no-repeat;
	  background-size: 100%;
	}
  }
  
  .ml-form-field-errortext {
	display: none;
	font-size: 12px;
	color: #DB1818;
	margin-top: 5px;
  }
  
  .ml-form-field-helptext {
	position: absolute;
	font-size: 13px;
	color: #333333;
	margin-top: 5px;
	a {
	  color: #007abc;
	  font-size: 13px;
	  text-decoration: underline;
	  &:hover {
		text-decoration: none;
	  }
	}
	.tooltip {
	  background-color: #F2F2F2;
	  font-size: 12px;
	  line-height: 16px;
	  color: #333333;
	  padding: 10px;
	  text-decoration: none;
	  display: none;
	  margin-top: 10px;
	}
	&.open .tooltip {
	  display: block;
	}
  }
  
  .ml-form-field.error {
	input, select, .ml-form-field-radio, .ml-form-field-checkboxes {
	  border: solid 1px #DB1818;
	  background-color: #FDE8E8;
	}
	input:focus, select:focus {
	  background-color: #fff;
	}
	input:focus + span, select:focus + span {
	  background-color: #fff;
	  /*color: #DB1818;*/
	}
	input {
	  &:not([value=""]) + span {
		background-color: #fff;
		/*color: #DB1818;*/
	  }
	  &[value=""] + span {
		background-color: #FDE8E8;
		color: #333333;
	  }
	}
	.ml-form-field-errortext {
	  display: block;
	}
  }
  
  /* Added by : sdave1 (Dec '17) */
  
  .ml-form-field-checkboxes-group {
	width: auto;
	height: 18px;
	position: relative;
	margin: 15px;
	border-radius: 2px;
	input {
	  position: absolute;
	}
	label {
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  width: 90%;
	  height: 16px;
	  cursor: pointer;
	  position: absolute;
	  padding: 0px 0 0 25px;
	  &:before {
		content: '';
		width: 16px;
		height: 16px;
		position: absolute;
		top: -3px;
		left: 2px;
		border: solid 2px #BBBBBB;
	  }
	  &:after {
		content: '';
		width: 9px;
		height: 4px;
		position: absolute;
		top: 2px;
		left: 6px;
		border-left: 2px solid #007abc;
		border-bottom: 2px solid #007abc;
		opacity: 0;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	  }
	}
	input[type=checkbox] {
	  opacity: 0;
	  &:checked + label:after {
		opacity: 1;
	  }
	  &:focus + label:before, &:checked + label:before {
		border-color: #007abc;
	  }
	}
  }
  
  .ml-form-field-radio {
	border-radius: 2px;
  }
  
  .ml-form-field-radio-group {
	height: 18px;
	width: auto;
	/*margin: 20px auto;*/
	margin: 15px;
	position: relative;
	transition: all 250ms;
	input {
	  position: absolute;
	  z-index: 5;
	}
	label {
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  width: 90%;
	  height: 16px;
	  cursor: pointer;
	  position: absolute;
	  padding: 0px 0 0 25px;
	  &:before {
		content: '';
		width: 19px;
		height: 19px;
		position: absolute;
		top: -3px;
		left: 2px;
		border: solid 1px #BBBBBB;
		border-radius: 50%;
	  }
	  &:after {
		content: '';
		width: 7px;
		height: 7px;
		position: absolute;
		top: 3px;
		left: 8px;
		background-color: #007abc;
		border: solid 1px #007abc;
		border-radius: 50%;
		opacity: 0;
	  }
	}
	input[type=radio] {
	  opacity: 0;
	  &:checked + label:after {
		opacity: 1;
	  }
	  &:focus + label:before, &:checked + label:before {
		border: solid 1px #007abc;
	  }
	}
  }
  
  /*--- Dropdown/Select ---*/
  
  .ml-form-field-droplist-trigger {
	border-radius: 2px;
	position: relative;
	border: solid 1px #BBBBBB;
	width: 100%;
	color: #333333;
	text-align: left;
	font-size: 13px;
	background-color: #fff;
	padding: 10px;
	&:after {
	  content: "";
	  width: 0;
	  height: 0;
	  border: 7px solid transparent;
	  border-color: #AAA9AA transparent transparent transparent;
	  position: absolute;
	  top: 16px;
	  right: 10px;
	}
	&:focus {
	  border: solid 1px #007abc;
	  outline: 0;
	  &:after {
		border-color: #007abc transparent transparent transparent;
	  }
	}
	&.active {
	  border: solid 1px #007abc;
	  border-bottom: 0;
	  &:after {
		border-color: #007abc transparent transparent transparent;
	  }
	}
  }
  
  .ml-form-field-droplist-fields {
	display: none;
	&.active {
	  display: block;
	  border: solid 1px #007abc;
	  border-radius: 2px;
	  border-top: 0;
	  padding: 10px;
	  z-index: 999;
	}
  }
  
  .ml-form-field-select {
	.select-hidden {
	  display: none;
	  /*opacity: 0;
	  padding-right: 10px;
	  font-size: 13px;*/
	  &:focus {
		border: solid 1px red;
	  }
	}
	.select .select-styled {
	  border-radius: 2px;
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  font-size: 13px;
	  border: 1px solid #BBBBBB;
	  color: #333333;
	  width: 100%;
	  height: 40px;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  line-height: 17px;
	  background-color: #fff;
	  padding: 10px;
	}
	.select-styled {
	  &:after {
		content: "";
		width: 0;
		height: 0;
		border: 7px solid transparent;
		border-color: #AAA9AA transparent transparent transparent;
		position: absolute;
		top: 16px;
		right: 10px;
	  }
	  &.open {
		font-weight: bold;
		border: solid 1px #007abc;
		outline: 0;
		&:after {
		  border-color: #007abc transparent transparent transparent;
		}
	  }
	}
	.select-options {
	  display: none;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  font-size: 13px;
	  left: 0;
	  z-index: 999;
	  margin: 0;
	  padding: 0;
	  border-radius: 2px;
	  border: solid 1px #007abc;
	  border-top: 0px;
	  list-style: none;
	  background-color: #ffffff;
	  max-height: 200px;
	  overflow-y: auto;
	  li {
		margin: 0;
		padding: 12px 0;
		font-size: 13px;
		text-indent: 15px;
		border-top: 0px solid #e6e6e6;
		&:hover, &.selected {
		  color: #ffffff;
		  background: #007abc;
		}
		&[rel="hide"] {
		  display: block;
		}
		&:first-child {
		  border-top: 0;
		}
	  }
	}
  }
  
  /* Dropdown box downwards arrow style */
  
  // .ml-form-field-select .select-styled:focus,
  
  // .ml-form-field-select .select-styled:focus:after,
  
  /* dropdown options */
  
  /*  Edited by : sdave1 (Jan '18) */
  
  /* Updated  : sdave1 (Jan'18) */
  
  .ml-form-field > span, .ml-form-field-select > span {
	font-weight: bold;
	line-height: 3em;
  }
  
  /* ----- Floating label style ----- */
  
  .ml-form[data-forms="floating-label"] {
	input {
	  + span, &[value=""] + span {
		transition: 0.3s ease;
		-webkit-transform: translateY(-0.5em);
		-ms-transform: translateY(-0.5em);
		transform: translateY(-0.5em);
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-top: 13px;
		font-size: 13px;
		width: 90%;
	  }
	}
	.select-label > span {
	  transition: 0.3s ease;
	  -webkit-transform: translateY(-0.5em);
	  -ms-transform: translateY(-0.5em);
	  transform: translateY(-0.5em);
	  display: inline-block;
	  position: absolute;
	  top: 0px;
	  left: 10px;
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  margin-top: 13px;
	  font-size: 13px;
	  width: 90%;
	}
	input {
	  + span:hover, &[value=""] + span:hover {
		cursor: text;
	  }
	}
	.select-label > span:hover {
	  cursor: text;
	}
	input {
	  &:focus + span {
		font-weight: bold;
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
		font-size: 12px;
		visibility: visible;
		top: -5px;
		margin-top: 13px;
		width: auto;
		background-color: #fff;
		text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
		z-index: 100;
	  }
	  &:not([value=""]) + span {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
		font-size: 12px;
		visibility: visible;
		top: -5px;
		margin-top: 13px;
		width: auto;
		background-color: #fff;
		text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
		z-index: 100;
	  }
	}
	.select-label.selected > span {
	  -webkit-transform: translateY(-100%);
	  -ms-transform: translateY(-100%);
	  transform: translateY(-100%);
	  font-size: 12px;
	  visibility: visible;
	  top: -5px;
	  margin-top: 13px;
	  width: auto;
	  background-color: #fff;
	  text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
	  z-index: 100;
	}
  }