//========================================
// Sales Details
//========================================

// @TODO sales-details component should NOT have styles

.svg-icon {
  display: inline;
  vertical-align: middle;
  padding: 0 10px 0 10px;
  font-size: 18px;
  color: $metcolortwo;
}

.ml-alert {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  letter-spacing: 0;

  &.ml-alert-info {
    background-color: #D8EEF9;
    border-color: #D8EEF9;
    a {
      color: $metcolortwo;
    }
  }
}