//========================================
// Table styles
//========================================

.ml-table {

  .rt-table a:link,
  table a:link {
    color: #0061A0;
    text-decoration: underline;
  }
  .rt-table a:visited,
  table a:visited {
    color: #0061A0;
  }
  .rt-table a:active, .rt-table a:hover,
    table a:active, table a:hover {
    text-decoration: none;
  }
  
  .ml-table-title {
    height: 37px;
    line-height: 37px;
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: #007ABC;
    text-align: center;
  }
  
  /* =============== Table alternate Rows ================= */
  .ReactTable {
    border: none;
  
    .rt-table,
    table {
      .rt-thead {
        &.-header {
          box-shadow: none;
        }
        .rt-th {
          font-weight: bold;
          border: none;
        }
      }
      
      .rt-tbody {
        .rt-tr-group {
          border: none;
          .rt-td, td {
            border: none;
            &.hidden {
              padding-left: 0;
              padding-right: 0;
              min-width: 0;
              width: 0;
              max-width: 0;
              background: #fff;
            }
          }

          .rt-tr-group {
            &:nth-child(even) {
              .rt-tr {
                background: #E5F4FB;
              }
            }
            &:nth-child(odd) {
              .rt-tr {
                background: #FFFFFF;
              }
            }
          }
        }
      }
    }
  }
  
  &.ml-table-alt-rows {
    width: 100%;
    color: #333333;
    font-size: 13px;
    background: #ffffff;
    margin: 0px;
    border-collapse: collapse;

    .rt-table, table {

      .rt-tr, tr {
        text-align: center;
        min-height: 37px;
        display: flex;
        align-items: center;
        flex-direction: row;
        
        &.even, &.-even {
          background-color: #FFFFFF;
        }
        &.odd, &.-odd {
          background-color: #E5F4FB;
        }

        .rt-th, th {
          padding: 10px 20px;
          white-space: pre-line;
        }

        .rt-td, td {
          padding: 10px 20px;
          white-space: pre-line;
        }
      }
    }
  }

  &.grouping {

    width: 100%;
    color: #333333;
    font-size: 13px;
    background: #ffffff;
    margin: 0px;
    border-collapse: collapse;

    .rt-table, table {

      .rt-thead {
        &.-header {
          border-bottom: 1px solid gray;
        }
      }
      .rt-tbody {

        .rt-tr, tr {
          text-align: center;
          min-height: 37px;
          display: flex;
          align-items: center;
          flex-direction: row;
          
          &.even, &.-even,
          &.odd, &.-odd {
            background-color: #FFFFFF;
          }
          .rt-th, th {
            padding: 10px 20px;
            white-space: pre-line;
          }

          .rt-td, td {
            padding: 10px 20px;
            white-space: pre-line;
          }
        }
      }
    }
  }

  &.left-position {
    .rt-table, table {
      .rt-tr, tr {
        .rt-th, th, .rt-td, td {
          text-align: left;
        }
      }
    }
  }



// START column sorting
$gray: #333;
.column-header {
  border: none;
  // width: 150px;
  width: 100%;
  display: flex;
  padding: 0;

  div {
    &.sort-by {
      display: flex;
      align-items: center;
      
      i {
        position: relative;
        padding-right: 15px;
        
        width: 8px;
        height: 8px;
        &:before,
        &:after {
          border: 4px solid transparent;
          content: '';
          display: block;
          height: 0;
          position: absolute;
          right: 0;
          top: -4px;
          width: 0;
        }

        &:before {
          border-bottom-color: $gray;
          margin-top: 0;
        }

        &:after {
          border-top-color: $gray;
          margin-top: 10px;
        }
      }
      
      // START sort direction
      &.desc {
        i:before {
          display: none;
        }
      }
    
      &.asc {
        i:after {
          display: none;
        }
      }
      // END sort direction
    }

    // if you want to change look of the title
    // for the column used for sorting
    &.active {
        font-weight: bold;
    }
  }
}

// remove default sort style
.rt-thead .rt-th.-sort-desc,
.rt-thead .rt-th.-sort-asc {
  box-shadow: none;
}

.-sort-desc {
  .column-header {
    div {
      &.sort-by {
        i:before {
          display: none;
        }
      }
    }
  }
}
.-sort-asc {
  .column-header {
    div {
      &.sort-by {
        i:after {
          display: none;
        }
      }
    }
  }
}
// END column sorting


  /* =============== Table header Rows ================= */
  // .ReactTable > .rt-table > .rt-tbody > .rt-tr-group > .rt-tr {
  //   background: #fff;
  // }
}