.ml-text-input {
  $error-background: #fde8e8;
  $input-border: #757575;
  $error-color: #db1818;
  $font-color: #333;
  $input-background: #fff;
  $input-focus-border: #007abc;
  $input-focus-color: #666;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: 250px;

  label {
    position: relative;
    display: flex;
    flex: 1 0 100%;

    input {
      &[type=text] {
        border: 1px solid $input-border;
        border-radius: 2px;
        height: 40px;
        line-height: 17px;
        outline: none; // ** bad for accessibility **
        padding: 10px;
        width: 250px;

        &:focus {
          border: solid 1px $input-focus-border;
        }

        &:focus+span {
          font-weight: bold;
        }

        &:focus+span,
        &.has-value+span {
          background-color: $input-background;
          // color: $input-focus-color;
          font-size: 13px;
          margin-top: 13px;
          text-shadow: -4px 2px 0 0 $input-background, 3px 0 1px 0 $input-background, -2px 0 0 0 $input-background, -3px 1px 2px 0 $input-background, 6px 0 0 0 $input-background, 4px 2px 0 0 $input-background, 1px 1px 0 0 $input-background;
          top: -6.5px; // 6.5px = font-size/2
          transform: translateY(-100%);
          transition: .3s ease;
          width: auto;
        }

        &.error {
          background-color: $error-background;
          border: solid 1px $error-color;

          &:focus,
          &.has-value {
            background-color: $input-background;
          }
        }
      }
    }


    span {
      //border: 1px solid red;
      color: $font-color;
      cursor: text;
      display: inline-flex;
      font-size: 13px;
      left: 10px;
      padding: 0 1px;
      position: absolute;
      top: calc(50% - 6.5px); // 6.5px = font-size/2
      transition: .3s ease;
    }
  }

  // /* ******  Error   ****** */
  .no-error {
    display: none;
  }

  div.errortext {
    color: $error-color;
    display: flex;
    flex: 1 0 100%;
    font-size: 12px;
    margin-top: 5px;
  }
}
