//========================================
// BoB Business Insights
//========================================

.ml-bi-table {
  .flex {
      display: flex;
      width: 100%;
      flex-direction: row;
  }

  &.table-container {
      @extend .flex;
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  }

  .table-wrapper {
      @extend .flex;
      flex-direction: column;
      padding: 0 20px 35px 10px;
      box-sizing: border-box;
      background-color: white;
      border-left: 10px solid #0090DA;
  }

  .table-header {
      @extend .flex;
      justify-content: space-between;
      align-items: center;
      height: 66px;
      padding-right: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #0090DA;
  }

  .table-header-BI-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .table-header-BI {
      font-family: Georgia-Bold;
      font-size: 20px;
      color: #333333;
      letter-spacing: 0;
      line-height: 13px;
      padding-left: 10px;
  }

  .table-header-AOD {
      font-family: 'Noto Sans';
      font-size: 13px;
      color: #333333;
      letter-spacing: 0;
  }

  .table-body-container {
      @extend .flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 269px;
  }


  .graph-img {
      height: 38px;
      width: 38px;
  }

  table {
      border-collapse: collapse;
      font-family: 'Noto Sans';
      font-size: 16px;
      color: #151515;
      text-align: right;

      tr {
          border-bottom: 1px solid #d8d8d8;
      }

      th, td {
          padding: 20px 30px 20px 0;
          text-align: right;
      }

      td {
          sup {
              padding-left: 7px;
          }

          &:first-child {
              font-size: 18px;
              font-weight: bold;
              color: #333333;
              text-align: left;
              padding-left: 23px;
          }

          &:last-child {
              padding-right: 48px;
          }
      }

      thead {
          tr {
              font-size: 18px;
              font-weight: bold;
              color: #333333;
              border-bottom: none;
              th:last-child {
                  padding-right: 48px;
              }
          }
      }

      tbody {
          tr:last-child {
              border-bottom: none;
          }
      }

  }
}