//========================================
// Table styles
//========================================

.ml-datepicker {
  .ml-datepicker-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      background: #FFFFFF;
      border-radius: 2px;
      box-sizing: border-box;
      justify-content: space-between;
      p {
          font-family: 'Noto Sans';
          font-size: 13px;
          font-weight: 700;
          color: #333333;
          margin: 0 0 21px 21px;
      }
  }

  .ml-datepicker-input-container {
      display: flex;
      align-items: center;
      img {
          height: 20px;
          width: 20px;
          margin-left: 16px;
          &:hover {
              cursor: pointer;
          }
      }
  }

  a {
      img {
          height: 5.8px;
          width: 10.3px;
      }
      &:link,
      &:visited {
          text-decoration: none;
      }
  }

  /** DATE PICKER TRIANGLE **/

  .react-datepicker__triangle {
      margin-left: 162px !important;
  }

  /** CALENDAR STYLE **/

  .calendar-styling {
      .react-datepicker__day--selected,
      .react-datepicker__day--in-selecting-range,
      .react-datepicker__day--in-range {
          border-radius: 0;
          background: #0061A0;
      }
      .react-datepicker__day,
      .react-datepicker__day--keyboard-selected,
      .react-datepicker__day:hover {
          border-radius: 0;
      }
  }

  .ml-datepicker-error-message {
      margin-bottom: 30px;
  }

  .ml-datepicker-error-message-active {
      color: #DB1818;
      font-size: 11px;
      margin: 0 0 15px 30px;
  }
}