@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i");
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0; }

.ReactTable {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .ReactTable * {
    box-sizing: border-box; }
  .ReactTable .rt-table {
    -webkit-box-flex: 1;
    -ms-flex: auto 1;
    flex: auto 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    overflow: auto; }
  .ReactTable .rt-thead {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .ReactTable .rt-thead.-headerGroups {
      background: rgba(0, 0, 0, 0.03);
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .ReactTable .rt-thead.-filters {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
      .ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        padding: 5px 7px;
        font-size: inherit;
        border-radius: 3px;
        font-weight: normal;
        outline: none; }
      .ReactTable .rt-thead.-filters .rt-th {
        border-right: 1px solid rgba(0, 0, 0, 0.02); }
    .ReactTable .rt-thead.-header {
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15); }
    .ReactTable .rt-thead .rt-tr {
      text-align: center; }
    .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
      padding: 5px 5px;
      line-height: normal;
      position: relative;
      border-right: 1px solid rgba(0, 0, 0, 0.05);
      transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      box-shadow: inset 0 0 0 0 transparent; }
    .ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
      box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.6); }
    .ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
      box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.6); }
    .ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td.-cursor-pointer {
      cursor: pointer; }
    .ReactTable .rt-thead .rt-th:last-child, .ReactTable .rt-thead .rt-td:last-child {
      border-right: 0; }
    .ReactTable .rt-thead .rt-resizable-header {
      overflow: visible; }
      .ReactTable .rt-thead .rt-resizable-header:last-child {
        overflow: hidden; }
    .ReactTable .rt-thead .rt-resizable-header-content {
      overflow: hidden;
      text-overflow: ellipsis; }
    .ReactTable .rt-thead .rt-header-pivot {
      border-right-color: #f7f7f7; }
      .ReactTable .rt-thead .rt-header-pivot:after, .ReactTable .rt-thead .rt-header-pivot:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
      .ReactTable .rt-thead .rt-header-pivot:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #fff;
        border-width: 8px;
        margin-top: -8px; }
      .ReactTable .rt-thead .rt-header-pivot:before {
        border-color: rgba(102, 102, 102, 0);
        border-left-color: #f7f7f7;
        border-width: 10px;
        margin-top: -10px; }
  .ReactTable .rt-tbody {
    -webkit-box-flex: 99999;
    -ms-flex: 99999 1 auto;
    flex: 99999 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto; }
    .ReactTable .rt-tbody .rt-tr-group {
      border-bottom: solid 1px rgba(0, 0, 0, 0.05); }
      .ReactTable .rt-tbody .rt-tr-group:last-child {
        border-bottom: 0; }
    .ReactTable .rt-tbody .rt-td {
      border-right: 1px solid rgba(0, 0, 0, 0.02); }
      .ReactTable .rt-tbody .rt-td:last-child {
        border-right: 0; }
    .ReactTable .rt-tbody .rt-expandable {
      cursor: pointer;
      text-overflow: clip; }
  .ReactTable .rt-tr-group {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .ReactTable .rt-tr {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .ReactTable .rt-th, .ReactTable .rt-td {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 5px;
    overflow: hidden;
    transition: .3s ease;
    transition-property: width,min-width,padding,opacity; }
  .ReactTable .rt-th.-hidden, .ReactTable .rt-td.-hidden {
    width: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    opacity: 0 !important; }
  .ReactTable .rt-expander {
    display: inline-block;
    position: relative;
    margin: 0;
    color: transparent;
    margin: 0 10px; }
    .ReactTable .rt-expander:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      transform: translate(-50%, -50%) rotate(-90deg);
      border-left: 5.04px solid transparent;
      border-right: 5.04px solid transparent;
      border-top: 7px solid rgba(0, 0, 0, 0.8);
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      cursor: pointer; }
    .ReactTable .rt-expander.-open:after {
      -webkit-transform: translate(-50%, -50%) rotate(0);
      transform: translate(-50%, -50%) rotate(0); }
  .ReactTable .rt-resizer {
    display: inline-block;
    position: absolute;
    width: 36px;
    top: 0;
    bottom: 0;
    right: -18px;
    cursor: col-resize;
    z-index: 10; }
  .ReactTable .rt-tfoot {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15); }
    .ReactTable .rt-tfoot .rt-td {
      border-right: 1px solid rgba(0, 0, 0, 0.05); }
      .ReactTable .rt-tfoot .rt-td:last-child {
        border-right: 0; }
  .ReactTable.-striped .rt-tr.-odd {
    background: rgba(0, 0, 0, 0.03); }
  .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: rgba(0, 0, 0, 0.05); }
  .ReactTable .-pagination {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgba(0, 0, 0, 0.1); }
    .ReactTable .-pagination input, .ReactTable .-pagination select {
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: #fff;
      padding: 5px 7px;
      font-size: inherit;
      border-radius: 3px;
      font-weight: normal;
      outline: none; }
    .ReactTable .-pagination .-btn {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 3px;
      padding: 6px;
      font-size: 1em;
      color: rgba(0, 0, 0, 0.6);
      background: rgba(0, 0, 0, 0.1);
      transition: all .1s ease;
      cursor: pointer;
      outline: none; }
      .ReactTable .-pagination .-btn[disabled] {
        opacity: .5;
        cursor: default; }
      .ReactTable .-pagination .-btn:not([disabled]):hover {
        background: rgba(0, 0, 0, 0.3);
        color: #fff; }
    .ReactTable .-pagination .-previous, .ReactTable .-pagination .-next {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center; }
    .ReactTable .-pagination .-center {
      -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
      flex: 1.5;
      text-align: center;
      margin-bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .ReactTable .-pagination .-pageInfo {
      display: inline-block;
      margin: 3px 10px;
      white-space: nowrap; }
    .ReactTable .-pagination .-pageJump {
      display: inline-block; }
      .ReactTable .-pagination .-pageJump input {
        width: 70px;
        text-align: center; }
    .ReactTable .-pagination .-pageSizeOptions {
      margin: 3px 10px; }
  .ReactTable .rt-noData {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    transition: all .3s ease;
    z-index: 1;
    pointer-events: none;
    padding: 20px;
    color: rgba(0, 0, 0, 0.5); }
  .ReactTable .-loading {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    transition: all .3s ease;
    z-index: -1;
    opacity: 0;
    pointer-events: none; }
    .ReactTable .-loading > div {
      position: absolute;
      display: block;
      text-align: center;
      width: 100%;
      top: 50%;
      left: 0;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.6);
      -webkit-transform: translateY(-52%);
      transform: translateY(-52%);
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .ReactTable .-loading.-active {
      opacity: 1;
      z-index: 2;
      pointer-events: all; }
      .ReactTable .-loading.-active > div {
        -webkit-transform: translateY(50%);
        transform: translateY(50%); }
  .ReactTable .rt-resizing .rt-th, .ReactTable .rt-resizing .rt-td {
    transition: none !important;
    cursor: col-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

html {
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  margin: 0; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

.app {
  text-align: center; }

.app-logo {
  height: 80px; }

.app-header {
  position: relative;
  background-color: #007abc;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: left;
  padding-left: 60px; }

.metlife-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 100%;
  width: calc(100% - 145px);
  border-right: 145px solid #a4ce4e; }
  .metlife-background::after {
    content: '';
    display: block;
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0061a0;
    z-index: 0; }

.app-title {
  font-size: 1.5em; }

.app-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

label input[type=checkbox],
label input[type=checkbox] + span {
  cursor: pointer; }

.ml-button-primary, .ml-button-primary-dark, .ml-button-secondary, .ml-button-secondary-dark {
  box-sizing: content-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2px;
  padding: 12px 14px;
  border: 0;
  display: inline-block; }

.ml-button-primary:hover, .ml-button-primary-dark:hover, .ml-button-secondary:hover, .ml-button-secondary-dark:hover, .ml-button-primary:focus, .ml-button-primary-dark:focus, .ml-button-secondary:focus, .ml-button-secondary-dark:focus {
  text-decoration: underline; }

.hover.ml-button-primary, .hover.ml-button-primary-dark, .hover.ml-button-secondary, .hover.ml-button-secondary-dark {
  text-decoration: underline; }

.ml-button-primary:focus, .ml-button-primary-dark:focus, .ml-button-secondary:focus, .ml-button-secondary-dark:focus {
  outline-color: #333;
  text-decoration: underline; }

.focus.ml-button-primary, .focus.ml-button-primary-dark, .focus.ml-button-secondary, .focus.ml-button-secondary-dark {
  outline-color: #333;
  text-decoration: underline; }

.focus.ml-button-primary, .focus.ml-button-primary-dark, .focus.ml-button-secondary, .focus.ml-button-secondary-dark {
  box-shadow: 0 0 3px #333, 0 0 7px #333; }

.ml-link, .ml-link-dark {
  text-decoration: underline;
  color: #007abc;
  font-weight: bold;
  display: inline-block; }

.ml-link:hover, .ml-link-dark:hover, .ml-link:focus, .ml-link-dark:focus {
  text-decoration: none; }

.hover.ml-link, .hover.ml-link-dark {
  text-decoration: none; }

.ml-link:focus, .ml-link-dark:focus {
  outline-color: #333;
  text-decoration: none; }

.focus.ml-link, .focus.ml-link-dark {
  box-shadow: 0 0 4px #333, 0 0 10px #333; }

.ml-button-primary {
  background-color: #007abc;
  color: #fff; }
  .ml-button-primary:hover, .ml-button-primary:focus, .ml-button-primary.hover, .ml-button-primary.focus {
    background-color: #0061a0; }

.ml-button-primary-dark {
  color: #000;
  background-color: #a4ce4e; }
  .ml-button-primary-dark:hover, .ml-button-primary-dark:focus, .ml-button-primary-dark.hover, .ml-button-primary-dark.focus {
    background-color: #B7DD58; }

.ml-button-secondary {
  background-color: #fff;
  color: #007abc;
  border: solid 2px #007abc; }
  .ml-button-secondary:focus, .ml-button-secondary:hover, .ml-button-secondary.hover, .ml-button-secondary.focus {
    background-color: #007abc;
    color: #fff; }

.ml-button-secondary-dark {
  border: solid 2px #fff;
  color: #fff; }
  .ml-button-secondary-dark:focus, .ml-button-secondary-dark:hover, .ml-button-secondary-dark.hover, .ml-button-secondary-dark.focus {
    background-color: #fff;
    color: #007abc; }

.ml-link-dark {
  color: #fff; }

.cb-container {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
  letter-spacing: 0;
  line-height: 16px; }

.cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: solid 1px #BBBBBB;
  background-color: #fff; }

.cb-container:hover input ~ .checkmark {
  background-color: #fff; }

.cb-container input:checked ~ .checkmark {
  background-color: #fff;
  border: solid 2px #007abc; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.cb-container input:checked ~ .checkmark:after {
  display: block; }

.cb-container .checkmark:after {
  width: 9px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 2px;
  border-left: 2px solid #007abc;
  border-bottom: 2px solid #007abc;
  transform: rotate(-45deg); }

.ml-radio-button-group {
  width: auto;
  height: 18px;
  position: relative;
  margin: 15px;
  transition: all 250ms; }
  .ml-radio-button-group.horizontal {
    display: inline-block;
    vertical-align: middle; }
  .ml-radio-button-group input[type=radio] {
    position: absolute;
    z-index: 5;
    opacity: 0;
    width: 100%; }
    .ml-radio-button-group input[type=radio]:checked + label:before {
      border: solid 1px #007abc; }
    .ml-radio-button-group input[type=radio]:checked + label:after {
      opacity: 1; }
  .ml-radio-button-group label {
    user-select: none;
    height: 16px;
    cursor: pointer;
    padding: 0px 0 0 35px; }
    .ml-radio-button-group label:before {
      content: '';
      width: 19px;
      height: 19px;
      position: absolute;
      top: -1px;
      left: 0px;
      border: solid 1px #BBBBBB;
      border-radius: 50%; }
    .ml-radio-button-group label:after {
      content: '';
      width: 7px;
      height: 7px;
      position: absolute;
      top: 5px;
      left: 6px;
      background-color: #007abc;
      border: solid 1px #007abc;
      border-radius: 50%;
      opacity: 0; }

.ml-radio-group {
  border: none;
  background-color: #fff;
  font-family: "Noto Sans";
  max-width: 290px; }
  .ml-radio-group.horizontal {
    max-width: 100%; }
  .ml-radio-group legend {
    width: auto;
    position: relative;
    margin: 20px;
    margin-left: 0;
    transition: all 250ms;
    font-weight: bold;
    float: left;
    clear: both; }
    .ml-radio-group legend.horizontal {
      display: inline-block;
      vertical-align: middle; }

.ml-form {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px; }
  .ml-form.right-position {
    display: flex;
    justify-content: flex-end; }

.ml-form-field {
  margin-bottom: 0;
  display: block;
  width: 100%;
  max-width: 250px;
  position: relative;
  border: 0px;
  padding: 0; }
  .ml-form-field legend {
    font-weight: bold;
    margin-bottom: 5px; }

.ml-form legend {
  font-weight: bold;
  margin-bottom: 5px; }

.ml-form-field legend {
  font-size: 13px;
  color: #333333; }

.ml-form-field label {
  font-size: 13px;
  color: #333333;
  position: relative;
  display: block;
  text-align: left; }
  .ml-form-field label span {
    display: inline;
    padding: 5px 2px 2px 2px; }

.ml-form-field input {
  padding: 10px;
  font: inherit;
  outline: none;
  border: 1px solid #BBBBBB;
  font-size: 13px;
  color: #333333;
  width: 100%;
  border-radius: 2px; }
  .ml-form-field input:focus {
    border: solid 1px #007abc; }
    .ml-form-field input:focus + span {
      color: #333333; }

.ml-form-field .ml-form-field-select + span {
  color: #333; }

.ml-form-field span {
  display: block;
  margin-bottom: 5px;
  background: #fff;
  color: #333; }

/* ---- DD update ---- */
.ml-form-field-togglevisible {
  width: 18px;
  height: 13px;
  background: url(/assets/patterns/img/tables/ml-toggle-visibility-show.png) no-repeat;
  background-size: 100%;
  display: block;
  position: absolute;
  right: 15px;
  top: 12px; }
  .ml-form-field-togglevisible.hidden {
    background: url(/assets/patterns/img/tables/ml-toggle-visibility-hide.png) no-repeat;
    background-size: 100%; }

.ml-form-field-errortext {
  display: none;
  font-size: 12px;
  color: #DB1818;
  margin-top: 5px; }

.ml-form-field-helptext {
  position: absolute;
  font-size: 13px;
  color: #333333;
  margin-top: 5px; }
  .ml-form-field-helptext a {
    color: #007abc;
    font-size: 13px;
    text-decoration: underline; }
    .ml-form-field-helptext a:hover {
      text-decoration: none; }
  .ml-form-field-helptext .tooltip {
    background-color: #F2F2F2;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    padding: 10px;
    text-decoration: none;
    display: none;
    margin-top: 10px; }
  .ml-form-field-helptext.open .tooltip {
    display: block; }

.ml-form-field.error input, .ml-form-field.error select, .ml-form-field.error .ml-form-field-radio, .ml-form-field.error .ml-form-field-checkboxes {
  border: solid 1px #DB1818;
  background-color: #FDE8E8; }

.ml-form-field.error input:focus, .ml-form-field.error select:focus {
  background-color: #fff; }

.ml-form-field.error input:focus + span, .ml-form-field.error select:focus + span {
  background-color: #fff;
  /*color: #DB1818;*/ }

.ml-form-field.error input:not([value=""]) + span {
  background-color: #fff;
  /*color: #DB1818;*/ }

.ml-form-field.error input[value=""] + span {
  background-color: #FDE8E8;
  color: #333333; }

.ml-form-field.error .ml-form-field-errortext {
  display: block; }

/* Added by : sdave1 (Dec '17) */
.ml-form-field-checkboxes-group {
  width: auto;
  height: 18px;
  position: relative;
  margin: 15px;
  border-radius: 2px; }
  .ml-form-field-checkboxes-group input {
    position: absolute; }
  .ml-form-field-checkboxes-group label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 90%;
    height: 16px;
    cursor: pointer;
    position: absolute;
    padding: 0px 0 0 25px; }
    .ml-form-field-checkboxes-group label:before {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: -3px;
      left: 2px;
      border: solid 2px #BBBBBB; }
    .ml-form-field-checkboxes-group label:after {
      content: '';
      width: 9px;
      height: 4px;
      position: absolute;
      top: 2px;
      left: 6px;
      border-left: 2px solid #007abc;
      border-bottom: 2px solid #007abc;
      opacity: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .ml-form-field-checkboxes-group input[type=checkbox] {
    opacity: 0; }
    .ml-form-field-checkboxes-group input[type=checkbox]:checked + label:after {
      opacity: 1; }
    .ml-form-field-checkboxes-group input[type=checkbox]:focus + label:before, .ml-form-field-checkboxes-group input[type=checkbox]:checked + label:before {
      border-color: #007abc; }

.ml-form-field-radio {
  border-radius: 2px; }

.ml-form-field-radio-group {
  height: 18px;
  width: auto;
  /*margin: 20px auto;*/
  margin: 15px;
  position: relative;
  transition: all 250ms; }
  .ml-form-field-radio-group input {
    position: absolute;
    z-index: 5; }
  .ml-form-field-radio-group label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 90%;
    height: 16px;
    cursor: pointer;
    position: absolute;
    padding: 0px 0 0 25px; }
    .ml-form-field-radio-group label:before {
      content: '';
      width: 19px;
      height: 19px;
      position: absolute;
      top: -3px;
      left: 2px;
      border: solid 1px #BBBBBB;
      border-radius: 50%; }
    .ml-form-field-radio-group label:after {
      content: '';
      width: 7px;
      height: 7px;
      position: absolute;
      top: 3px;
      left: 8px;
      background-color: #007abc;
      border: solid 1px #007abc;
      border-radius: 50%;
      opacity: 0; }
  .ml-form-field-radio-group input[type=radio] {
    opacity: 0; }
    .ml-form-field-radio-group input[type=radio]:checked + label:after {
      opacity: 1; }
    .ml-form-field-radio-group input[type=radio]:focus + label:before, .ml-form-field-radio-group input[type=radio]:checked + label:before {
      border: solid 1px #007abc; }

/*--- Dropdown/Select ---*/
.ml-form-field-droplist-trigger {
  border-radius: 2px;
  position: relative;
  border: solid 1px #BBBBBB;
  width: 100%;
  color: #333333;
  text-align: left;
  font-size: 13px;
  background-color: #fff;
  padding: 10px; }
  .ml-form-field-droplist-trigger:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #AAA9AA transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px; }
  .ml-form-field-droplist-trigger:focus {
    border: solid 1px #007abc;
    outline: 0; }
    .ml-form-field-droplist-trigger:focus:after {
      border-color: #007abc transparent transparent transparent; }
  .ml-form-field-droplist-trigger.active {
    border: solid 1px #007abc;
    border-bottom: 0; }
    .ml-form-field-droplist-trigger.active:after {
      border-color: #007abc transparent transparent transparent; }

.ml-form-field-droplist-fields {
  display: none; }
  .ml-form-field-droplist-fields.active {
    display: block;
    border: solid 1px #007abc;
    border-radius: 2px;
    border-top: 0;
    padding: 10px;
    z-index: 999; }

.ml-form-field-select .select-hidden {
  display: none;
  /*opacity: 0;
	  padding-right: 10px;
	  font-size: 13px;*/ }
  .ml-form-field-select .select-hidden:focus {
    border: solid 1px red; }

.ml-form-field-select .select .select-styled {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 13px;
  border: 1px solid #BBBBBB;
  color: #333333;
  width: 100%;
  height: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 17px;
  background-color: #fff;
  padding: 10px; }

.ml-form-field-select .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #AAA9AA transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px; }

.ml-form-field-select .select-styled.open {
  font-weight: bold;
  border: solid 1px #007abc;
  outline: 0; }
  .ml-form-field-select .select-styled.open:after {
    border-color: #007abc transparent transparent transparent; }

.ml-form-field-select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 13px;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  border: solid 1px #007abc;
  border-top: 0px;
  list-style: none;
  background-color: #ffffff;
  max-height: 200px;
  overflow-y: auto; }
  .ml-form-field-select .select-options li {
    margin: 0;
    padding: 12px 0;
    font-size: 13px;
    text-indent: 15px;
    border-top: 0px solid #e6e6e6; }
    .ml-form-field-select .select-options li:hover, .ml-form-field-select .select-options li.selected {
      color: #ffffff;
      background: #007abc; }
    .ml-form-field-select .select-options li[rel="hide"] {
      display: block; }
    .ml-form-field-select .select-options li:first-child {
      border-top: 0; }

/* Dropdown box downwards arrow style */
/* dropdown options */
/*  Edited by : sdave1 (Jan '18) */
/* Updated  : sdave1 (Jan'18) */
.ml-form-field > span, .ml-form-field-select > span {
  font-weight: bold;
  line-height: 3em; }

/* ----- Floating label style ----- */
.ml-form[data-forms="floating-label"] input + span, .ml-form[data-forms="floating-label"] input[value=""] + span {
  transition: 0.3s ease;
  -webkit-transform: translateY(-0.5em);
  -ms-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 13px;
  font-size: 13px;
  width: 90%; }

.ml-form[data-forms="floating-label"] .select-label > span {
  transition: 0.3s ease;
  -webkit-transform: translateY(-0.5em);
  -ms-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 13px;
  font-size: 13px;
  width: 90%; }

.ml-form[data-forms="floating-label"] input + span:hover, .ml-form[data-forms="floating-label"] input[value=""] + span:hover {
  cursor: text; }

.ml-form[data-forms="floating-label"] .select-label > span:hover {
  cursor: text; }

.ml-form[data-forms="floating-label"] input:focus + span {
  font-weight: bold;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 12px;
  visibility: visible;
  top: -5px;
  margin-top: 13px;
  width: auto;
  background-color: #fff;
  text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
  z-index: 100; }

.ml-form[data-forms="floating-label"] input:not([value=""]) + span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 12px;
  visibility: visible;
  top: -5px;
  margin-top: 13px;
  width: auto;
  background-color: #fff;
  text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
  z-index: 100; }

.ml-form[data-forms="floating-label"] .select-label.selected > span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 12px;
  visibility: visible;
  top: -5px;
  margin-top: 13px;
  width: auto;
  background-color: #fff;
  text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
  z-index: 100; }

.ml-table {
  /* =============== Table alternate Rows ================= */
  /* =============== Table header Rows ================= */ }
  .ml-table .rt-table a:link,
  .ml-table table a:link {
    color: #0061A0;
    text-decoration: underline; }
  .ml-table .rt-table a:visited,
  .ml-table table a:visited {
    color: #0061A0; }
  .ml-table .rt-table a:active, .ml-table .rt-table a:hover,
  .ml-table table a:active, .ml-table table a:hover {
    text-decoration: none; }
  .ml-table .ml-table-title {
    height: 37px;
    line-height: 37px;
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: #007ABC;
    text-align: center; }
  .ml-table .ReactTable {
    border: none; }
    .ml-table .ReactTable .rt-table .rt-thead.-header,
    .ml-table .ReactTable table .rt-thead.-header {
      box-shadow: none; }
    .ml-table .ReactTable .rt-table .rt-thead .rt-th,
    .ml-table .ReactTable table .rt-thead .rt-th {
      font-weight: bold;
      border: none; }
    .ml-table .ReactTable .rt-table .rt-tbody .rt-tr-group,
    .ml-table .ReactTable table .rt-tbody .rt-tr-group {
      border: none; }
      .ml-table .ReactTable .rt-table .rt-tbody .rt-tr-group .rt-td, .ml-table .ReactTable .rt-table .rt-tbody .rt-tr-group td,
      .ml-table .ReactTable table .rt-tbody .rt-tr-group .rt-td,
      .ml-table .ReactTable table .rt-tbody .rt-tr-group td {
        border: none; }
        .ml-table .ReactTable .rt-table .rt-tbody .rt-tr-group .rt-td.hidden, .ml-table .ReactTable .rt-table .rt-tbody .rt-tr-group td.hidden,
        .ml-table .ReactTable table .rt-tbody .rt-tr-group .rt-td.hidden,
        .ml-table .ReactTable table .rt-tbody .rt-tr-group td.hidden {
          padding-left: 0;
          padding-right: 0;
          min-width: 0;
          width: 0;
          max-width: 0;
          background: #fff; }
      .ml-table .ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr-group:nth-child(even) .rt-tr,
      .ml-table .ReactTable table .rt-tbody .rt-tr-group .rt-tr-group:nth-child(even) .rt-tr {
        background: #E5F4FB; }
      .ml-table .ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr-group:nth-child(odd) .rt-tr,
      .ml-table .ReactTable table .rt-tbody .rt-tr-group .rt-tr-group:nth-child(odd) .rt-tr {
        background: #FFFFFF; }
  .ml-table.ml-table-alt-rows {
    width: 100%;
    color: #333333;
    font-size: 13px;
    background: #ffffff;
    margin: 0px;
    border-collapse: collapse; }
    .ml-table.ml-table-alt-rows .rt-table .rt-tr, .ml-table.ml-table-alt-rows .rt-table tr, .ml-table.ml-table-alt-rows table .rt-tr, .ml-table.ml-table-alt-rows table tr {
      text-align: center;
      min-height: 37px;
      display: flex;
      align-items: center;
      flex-direction: row; }
      .ml-table.ml-table-alt-rows .rt-table .rt-tr.even, .ml-table.ml-table-alt-rows .rt-table .rt-tr.-even, .ml-table.ml-table-alt-rows .rt-table tr.even, .ml-table.ml-table-alt-rows .rt-table tr.-even, .ml-table.ml-table-alt-rows table .rt-tr.even, .ml-table.ml-table-alt-rows table .rt-tr.-even, .ml-table.ml-table-alt-rows table tr.even, .ml-table.ml-table-alt-rows table tr.-even {
        background-color: #FFFFFF; }
      .ml-table.ml-table-alt-rows .rt-table .rt-tr.odd, .ml-table.ml-table-alt-rows .rt-table .rt-tr.-odd, .ml-table.ml-table-alt-rows .rt-table tr.odd, .ml-table.ml-table-alt-rows .rt-table tr.-odd, .ml-table.ml-table-alt-rows table .rt-tr.odd, .ml-table.ml-table-alt-rows table .rt-tr.-odd, .ml-table.ml-table-alt-rows table tr.odd, .ml-table.ml-table-alt-rows table tr.-odd {
        background-color: #E5F4FB; }
      .ml-table.ml-table-alt-rows .rt-table .rt-tr .rt-th, .ml-table.ml-table-alt-rows .rt-table .rt-tr th, .ml-table.ml-table-alt-rows .rt-table tr .rt-th, .ml-table.ml-table-alt-rows .rt-table tr th, .ml-table.ml-table-alt-rows table .rt-tr .rt-th, .ml-table.ml-table-alt-rows table .rt-tr th, .ml-table.ml-table-alt-rows table tr .rt-th, .ml-table.ml-table-alt-rows table tr th {
        padding: 10px 20px;
        white-space: pre-line; }
      .ml-table.ml-table-alt-rows .rt-table .rt-tr .rt-td, .ml-table.ml-table-alt-rows .rt-table .rt-tr td, .ml-table.ml-table-alt-rows .rt-table tr .rt-td, .ml-table.ml-table-alt-rows .rt-table tr td, .ml-table.ml-table-alt-rows table .rt-tr .rt-td, .ml-table.ml-table-alt-rows table .rt-tr td, .ml-table.ml-table-alt-rows table tr .rt-td, .ml-table.ml-table-alt-rows table tr td {
        padding: 10px 20px;
        white-space: pre-line; }
  .ml-table.grouping {
    width: 100%;
    color: #333333;
    font-size: 13px;
    background: #ffffff;
    margin: 0px;
    border-collapse: collapse; }
    .ml-table.grouping .rt-table .rt-thead.-header, .ml-table.grouping table .rt-thead.-header {
      border-bottom: 1px solid gray; }
    .ml-table.grouping .rt-table .rt-tbody .rt-tr, .ml-table.grouping .rt-table .rt-tbody tr, .ml-table.grouping table .rt-tbody .rt-tr, .ml-table.grouping table .rt-tbody tr {
      text-align: center;
      min-height: 37px;
      display: flex;
      align-items: center;
      flex-direction: row; }
      .ml-table.grouping .rt-table .rt-tbody .rt-tr.even, .ml-table.grouping .rt-table .rt-tbody .rt-tr.-even, .ml-table.grouping .rt-table .rt-tbody .rt-tr.odd, .ml-table.grouping .rt-table .rt-tbody .rt-tr.-odd, .ml-table.grouping .rt-table .rt-tbody tr.even, .ml-table.grouping .rt-table .rt-tbody tr.-even, .ml-table.grouping .rt-table .rt-tbody tr.odd, .ml-table.grouping .rt-table .rt-tbody tr.-odd, .ml-table.grouping table .rt-tbody .rt-tr.even, .ml-table.grouping table .rt-tbody .rt-tr.-even, .ml-table.grouping table .rt-tbody .rt-tr.odd, .ml-table.grouping table .rt-tbody .rt-tr.-odd, .ml-table.grouping table .rt-tbody tr.even, .ml-table.grouping table .rt-tbody tr.-even, .ml-table.grouping table .rt-tbody tr.odd, .ml-table.grouping table .rt-tbody tr.-odd {
        background-color: #FFFFFF; }
      .ml-table.grouping .rt-table .rt-tbody .rt-tr .rt-th, .ml-table.grouping .rt-table .rt-tbody .rt-tr th, .ml-table.grouping .rt-table .rt-tbody tr .rt-th, .ml-table.grouping .rt-table .rt-tbody tr th, .ml-table.grouping table .rt-tbody .rt-tr .rt-th, .ml-table.grouping table .rt-tbody .rt-tr th, .ml-table.grouping table .rt-tbody tr .rt-th, .ml-table.grouping table .rt-tbody tr th {
        padding: 10px 20px;
        white-space: pre-line; }
      .ml-table.grouping .rt-table .rt-tbody .rt-tr .rt-td, .ml-table.grouping .rt-table .rt-tbody .rt-tr td, .ml-table.grouping .rt-table .rt-tbody tr .rt-td, .ml-table.grouping .rt-table .rt-tbody tr td, .ml-table.grouping table .rt-tbody .rt-tr .rt-td, .ml-table.grouping table .rt-tbody .rt-tr td, .ml-table.grouping table .rt-tbody tr .rt-td, .ml-table.grouping table .rt-tbody tr td {
        padding: 10px 20px;
        white-space: pre-line; }
  .ml-table.left-position .rt-table .rt-tr .rt-th, .ml-table.left-position .rt-table .rt-tr th, .ml-table.left-position .rt-table .rt-tr .rt-td, .ml-table.left-position .rt-table .rt-tr td, .ml-table.left-position .rt-table tr .rt-th, .ml-table.left-position .rt-table tr th, .ml-table.left-position .rt-table tr .rt-td, .ml-table.left-position .rt-table tr td, .ml-table.left-position table .rt-tr .rt-th, .ml-table.left-position table .rt-tr th, .ml-table.left-position table .rt-tr .rt-td, .ml-table.left-position table .rt-tr td, .ml-table.left-position table tr .rt-th, .ml-table.left-position table tr th, .ml-table.left-position table tr .rt-td, .ml-table.left-position table tr td {
    text-align: left; }
